
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: x-large;
}

li a:hover {
    background-color: #111;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.img1{

    padding: inherit;
    margin-top: 10px;
    margin-left: 10px;
}
.h{

    font-family: Sans;
    font-size: 45px;
    font-style: italic;


}

.tds{

    font-size: large;
    font-style: oblique;
    font-size: 25px;
     color: blue;
}
.footer1{

    background-color: #333333;
    width: 1333px;
    height: 40px;
    color: white;
    font-size: large;
    left: 50px;
    align:center;


}
.table1{
    padding-right: 100px;
    font-size: large;
    font-family: Sans;
    background-color: aquamarine;
    padding-right: 100px;

}
h1{
    font-family: "Andale Mono IPA";
    font-size: large;
    font-style: italic;
    color: brown;



}
.tinD{




}